.tshirt {
  margin-bottom: 20px;
}

.details {
  margin-left: 20px;
  display: flex;
}
.image-fake {
  width: 1rem;
  height: 1rem;
  background-color: red;
  display: inline-block;
  margin-right: 1rem;
}
